<html>
    <head>
        <title>Jogo da memória</title>
        <meta charset="utf-8">
        <link href="./css/main.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="manifest" href="/manifest.json">
    </head>
    <body>
        <div id="app">
            <div class="contagem-inicio" v-if="contagemShow">
                    <span v-if="contagemValue < 4">{{contagemValue}}</span>
                    <span v-if="contagemValue == 4">Começar</span>
            </div>
            <div class="menu" v-if="option=='menu'">
               <ul>
                   <li @click="menuOption('game')">
                       <a>Jogar</a>
                    </li>
                   <li @click="menuOption('records')">Records</li>
                   <li>
                       Volume <br>
                       <input type="range"  min="0" max="100"   v-model="volume" @change="modificarVolume">
                   </li>
               </ul>
            </div>
            <div class="board" v-if="option=='game'">
            <card 
                 v-for="(card,key) of cards" 
                 :index="key"
                 :key="key"
                 :nome="!card.mostrar && !card.encontrado ? 'Encontre o Herói!' : card.nome"
                 :imagem="!card.mostrar && !card.encontrado ? cardOculto  : card.imagem"
                 @acao="mostrarCard(key)"
            ></card>
                <div class="tempo">
                    <b style="color:white">Tempo:</b> {{resultado.tempo}} <br>
                    <b style="color:white">Erros:</b> {{resultado.erro}}
                </div>
            <a class="btn-menu-game" @click="toogleMenuGame"><img  src="./imagem/menu.png"/></a>
            <ul class="menu-game" v-if="menuGameShow">
                <li  @click="menuOption('menu')">
                    <a>Menu</a>
                 </li>
                <li @click="menuOption('game')">
                    <a>Recomeçar</a>
                 </li>
                <li @click="menuOption('records')">Records</li>
                <li>
                    Volume <br>
                    <input type="range"  min="0" max="100"   v-model="volume" @change="modificarVolume">
                </li>
            </ul>

            </div>
            <div class="records"  v-if="option=='records'">
                <a class="btn-menu-game" @click="toogleMenuGame"><img  src="./imagem/menu.png"/></a>
                <ul class="menu-game" v-if="menuGameShow">
                    <li  @click="menuOption('menu')">
                        <a>Menu</a>
                    </li>
                    <li @click="menuOption('game')">
                        <a>Recomeçar</a>
                    </li>
                    <li @click="menuOption('records')">Records</li>
                    <li>
                        Volume <br>
                        <input type="range"  min="0" max="100"   v-model="volume" @change="modificarVolume">
                    </li>
                </ul>
                   <div class="records-resultado">
                       <table>
                           <tr>
                               <th>Tempo</th>
                               <th>Erros</th>
                           </tr>
                           <tr v-for="(res,key) in records" :key="key">
                               <td>{{res.tempo}}</td>
                               <td>{{res.erro}}</td>
                           </tr>
                       </table>
                   </div>
            </div>
        </div>
        <script src="./js/vue.js"></script> 
        <script src="./js/main.js"></script>
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/js/sw.js')
                    .then(function () {
                        console.log('service worker registered');
                    })
                    .catch(function (error) {
                        console.log(error);
                        console.warn('service worker failed');
                    });
            }
        </script>
    </body>
</html>